.music-player-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #06f81a;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(10, 10, 10, 0.918);
    text-align: center;
}

.app-title {
    color: #f9fd0d;
}

.control-buttons {
    margin-top: 20px;
}

.start-btn {
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: #b618f5;
    color: #fff;
    border: none;
    border-radius: 4px;
    outline: none;
}


.start-btn:hover {
    background-color: #9607f5;
}

.stop-btn {
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: #f51818;
    color: #fff;
    border: none;
    border-radius: 4px;
    outline: none;
}


.stop-btn:hover {
    background-color: #f50707;
}

.prev-track-btn {
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: #f827cb;
    color: #fff;
    border: none;
    border-radius: 4px;
    outline: none;
}

.next-track-btn {
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: #27f1f8;
    color: #fff;
    border: none;
    border-radius: 4px;
    outline: none;
}